<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	  <script src="static/js/jquery.min.js"></script>
    <script src="static/js/socket.io.min.js"></script>
    <script src="static/js/application.js"></script>

	<title>Marc Filbà - Project</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style2.css') }}">

</head>
<body>
	<div class="sizeGuide">
	<div class="leftContent f-left">
	</div>
	<div class="rightContent f-left">
		<div class="bodySize clearfix">
			<h2>Scoreboard</h2>
			<div class="tableGuide">
				<div id="log">
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
