<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Marc Filbà - Project</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="sizeGuide">
	<div class="leftContent f-left">
	</div>
	<div class="rightContent f-left">
		<div class="bodySize clearfix">
			<h2>Tabla de equipos</h2>
			<div class="tableGuide">
				<ul>
					<li>
						<div class="headSizes leftSize">&nbsp;</div>
						<div class="headSizes">Equip 1</div>
						<div class="headSizes">Equip 2</div>
						<div class="headSizes">Equip 3</div>
						<div class="headSizes">Equip 4</div>
						<div class="headSizes">Equip 5</div>
					</li>
				</ul>
				<ul class="locked">
					<li>
						<div class="leftSize">Ronda 1</div>
						<div class="bodySizes">78-83</div>
						<div class="bodySizes">84-89</div>
						<div class="bodySizes">90-94</div>
						<div class="bodySizes">95-100</div>
						<div class="bodySizes">101-106</div>
					</li>
					<li>
						<div class="leftSize">Ronda 2</div>
						<div class="bodySizes">61-66</div>
						<div class="bodySizes">67-72</div>
						<div class="bodySizes">73-78</div>
						<div class="bodySizes">79-84</div>
						<div class="bodySizes">85-90</div>
					</li>
					<li>
						<div class="leftSize">Ronda 3</div>
						<div class="bodySizes">87-92</div>
						<div class="bodySizes">93-97</div>
						<div class="bodySizes">98-102</div>
						<div class="bodySizes">103-107</div>
						<div class="bodySizes">108-113</div>
					</li>
					<li>
						<div class="leftSize">Ronda 4</div>
						<div class="bodySizes">62</div>
						<div class="bodySizes">64</div>
						<div class="bodySizes">66</div>
						<div class="bodySizes">68</div>
						<div class="bodySizes">70</div>
					</li>
					<li>
						<div class="leftSize">Ronda 5</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 6</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 7</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 8</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 9</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 10</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 11</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 12</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
										<li>
						<div class="leftSize">Ronda 11</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 12</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
										<li>
						<div class="leftSize">Ronda 11</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 12</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
										<li>
						<div class="leftSize">Ronda 11</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 12</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
										<li>
						<div class="leftSize">Ronda 11</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 12</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
										<li>
						<div class="leftSize">Ronda 11</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 12</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
										<li>
						<div class="leftSize">Ronda 11</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 12</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
										<li>
						<div class="leftSize">Ronda 11</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 12</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
										<li>
						<div class="leftSize">Ronda 11</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 12</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
										<li>
						<div class="leftSize">Ronda 11</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 12</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
										<li>
						<div class="leftSize">Ronda 11</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 12</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
										<li>
						<div class="leftSize">Ronda 11</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 12</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
										<li>
						<div class="leftSize">Ronda 11</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 12</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
										<li>
						<div class="leftSize">Ronda 11</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 12</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
										<li>
						<div class="leftSize">Ronda 11</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 12</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
										<li>
						<div class="leftSize">Ronda 11</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 12</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
										<li>
						<div class="leftSize">Ronda 11</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 12</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
										<li>
						<div class="leftSize">Ronda 11</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 12</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
										<li>
						<div class="leftSize">Ronda 11</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 12</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
										<li>
						<div class="leftSize">Ronda 11</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 12</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
										<li>
						<div class="leftSize">Ronda 11</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 12</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
										<li>
						<div class="leftSize">Ronda 11</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 12</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
										<li>
						<div class="leftSize">Ronda 11</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 12</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
										<li>
						<div class="leftSize">Ronda 11</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
					<li>
						<div class="leftSize">Ronda 12</div>
						<div class="bodySizes">74</div>
						<div class="bodySizes">76</div>
						<div class="bodySizes">78</div>
						<div class="bodySizes">80</div>
						<div class="bodySizes">82</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>